html, body{
    background-color: #282828;
    color: white;
    font-family: "Catamaran", sans-serif;
}

a{
    color:black;
}

a:hover{
    color:white;
}

#menu{
    margin-bottom: 50px;
}

#menu div{
    color: black;
    text-align:center;
    font-size: 1.5em;
    line-height: 100px;
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#menu div.current {
    color: white;
}

#menu div:hover {
    color: white;
}

#logo{
    background-image: url("../images/logo.png");
}

.gallery {
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    width: 100%;
    margin: 5px;
    text-align: center;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
}

.content-image {
    display: block;
    width: 100%;
    height: auto;
}