#menu{
    margin-bottom: 50px;
}

#menu div{
    min-height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#logo{
    background-image: url("../images/logo.png");
}

#menu-1{
    background-image: url("../images/T1.png");
}

#menu-1.current{
    background-image: url("../images/T1colo.png");
}

#menu-1:hover{
    background-image: url("../images/T1colo.png");
}

.gallery {
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    width: 100%;
    margin: 5px;
    text-align: center;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
}

.content-image {
    display: block;
    width: 100%;
    height: auto;
}